<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>TOMN Project</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link
            href="https://api.fontshare.com/v2/css?f[]=kalam@1&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/script.js" defer></script>
    </head>

    <body hx-get="/ai" hx-target="#ai-message" hx-trigger="load">
        <header></header>
        <main>
            <img
                src="/static/assets/Parrot.svg"
                alt="A low-poly image of a parrot."
                class="parrot"
            />
            <div id="ai-message"></div>
            <div id="user-message"></div>
            <input
                id="input"
                name="userMessage"
                hx-get="/user"
                hx-target="#user-message"
                placeholder="Message"
            />
        </main>
    </body>
</html>
