<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>NOM Project</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/script.js" defer></script>
    </head>

    <body>
        <header></header>
        <main>
            <div id="ai-message"></div>
            <div id="user-message"></div>
            <input
                id="input"
                name="userMessage"
                hx-get="/user"
                hx-target="#user-message"
                placeholder="Message"
            />
        </main>
    </body>
</html>
